<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Id:</span>
    </div>
    <input type="number" name="id" class="form-control" placeholder="Input id" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="id">
  </div>
  <button (click)="refresh()" class="btn btn-light btn-lg">Find</button>
</form>

<p>Date: {{Forecast.Date | date}}</p>
<p>TemperatureC: {{Forecast.TemperatureC}}</p>
<p>TemperatureF: {{Forecast.TemperatureF}}</p>
<p>Summary: {{Forecast.Summary}}</p>
